
<%= render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Portfolio</div>
    <div class="project-box">
      <div id="flower" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://gatsby-flower-project.netlify.com/">
      <%= image_tag 'flowershop', class: 'img-md', alt:'flowershop' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Dulce Flowershop</strong><br> 
        Flowershop website with cart<br>built with Gatsby.js</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="petrichor" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://warm-bayou-34500.herokuapp.com/articles">
      <%= image_tag 'petrichor', class: 'img-md', alt:'petrichor' %>
      <div class="img-description centered-content">
        <div class="text"><strong>Petrichor blog</strong><br>
        Blog site with full user functions<br>
        built witn Ruby on Rails</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="future" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://stiakov.github.io/Future-Now-Professional-Services/">
      <%= image_tag 'future', class: 'img-md', alt:'future' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Future Now - Development services</strong><br>
        Full responsive bussiness page</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="brite" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://pure-thicket-29255.herokuapp.com/">
      <%= image_tag 'brite', class: 'img-md', alt:'next' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Rails brite</strong><br> 
        Website based in Eventbrite.<br>Built with Rails 5, deployed on Heroku</div>
      </div>
      </a>
    </div>
    </div>
    <div class="project-box">
      <div id="facebook" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://github.com/misselliev/facebook-app">
      <%= image_tag 'facebook', class: 'img-md', alt:'facebook' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Fakebook Rails</strong><br> 
        Built with Rails 5, deployed on Heroku<br>Login auth with real fb accounts</div>
      </div>
      </a>
    </div>
    </div>
    <div class="project-box">
      <div id="library" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://github.com/misselliev/js-library">
      <%= image_tag 'library', class: 'img-md', alt:'library' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>My bookshelf library</strong><br> 
        Library web app to keep up <br>with your bookshelf content.<br>Built with JavaScript and Semantic UI</div>
      </div>
      </a>
    </div>
    </div>
    <div class="project-box">
      <div id="tictac" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://github.com/misselliev/tic-tac-js">
      <%= image_tag 'tictac', class: 'img-md', alt:'tictac' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Tic tac toe War!</strong><br> 
        Play tic tac tow against your computer!<br>Built with JavaScript and Semantic UI</div>
      </div>
      </a>
    </div>
    </div>
  </div>
</div>
<%= render 'footer'%>
