
<%= render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Portfolio</div>
    <div class="project-box">
      <div id="flower" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://gatsby-flower-project.netlify.com/">
      <%= image_tag 'flowershop', class: 'img-md', alt:'flowershop' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Dulce Flowershop</strong><br> 
        Flowershop website with cart<br>built with Gatsby.js</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="petrichor" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://warm-bayou-34500.herokuapp.com/articles">
      <%= image_tag 'petrichor', class: 'img-md', alt:'petrichor' %>
      <div class="img-description centered-content">
        <div class="text"><strong>Petrichor blog</strong><br>
        Blog site with full user functions<br>
        built witn Ruby on Rails</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="future" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://stiakov.github.io/Future-Now-Professional-Services/">
      <%= image_tag 'future', class: 'img-md', alt:'future' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Future Now - Development services</strong><br>
        Full responsive bussiness page</div>
      </div>
      </a>
      </div>
    </div>
    <div class="project-box">
      <div id="brite" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://pure-thicket-29255.herokuapp.com/">
      <%= image_tag 'brite', class: 'img-md', alt:'next' %>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Rails brite</strong><br> 
        Website based in Eventbrite.<br>Built with Rails 5, deployed on Heroku</div>
      </div>
      </a>
    </div>
    </div>
  
    
  </div>
</div>
<%= render 'footer'%>
